{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Slide show</title>
  <link type="text/css" href="{% static 'styles/slider.css' %}" rel="stylesheet" />
  <link type="x-icon" href="{% static 'img/cross.webp' %}" rel="icon" />
</head>
<body>

  <div class="slider-container">

    <div class="slide-header">
      <div class="slide-controls">
        <div class="controls">
          <img src="{% static 'img/icons/settings.svg' %}" />
        </div>
        <div class="controls fullscreen-toggle"
          data-fullscreen = "{% static 'img/icons/fullscreen.svg' %}"
          data-exitfullscreen = "{% static 'img/icons/fullscreen_exit.svg' %}">
          <img src="{% static 'img/icons/fullscreen.svg' %}" />
        </div>
        <div class="controls pause-toggle"
            data-play="{% static 'img/icons/play.svg' %}"
            data-pause="{% static 'img/icons/pause.svg' %}">
          <img src="{% static 'img/icons/pause.svg' %}" />
        </div>
        <div class="controls close-slide" data-url="{% url 'memorial:index' %}">
          <img src="{% static 'img/icons/close.svg' %}" />
        </div>
      </div>
    </div>

    <div class="slideshow">
      <div class="slide active">
        <h1>Let take a moment to honour and remember<br/>{{ memorial.name }}</h1>
      </div>

      <div class="slide">
        <img src="{% if memorial.photo %} {{ memorial.photo.url }} {% else %}{% static 'img/user.jpg' %}{%  endif %}" alt="Naomi N">
        <h3>In Loving Memory of</h3>
        <h2>{{ memorial.name }}</h2>
        <h4>{{ memorial.birth_date }} - {{ memorial.death_date }}</h4>
      </div>

      <div class="slide">
        <h2>People we love Live on in our memories</h2>
      </div>
    </div>

    <div class="nav-btn-container">
      <button class="nav-btn nav-left">&#10094;</button>
      <button class="nav-btn nav-right">&#10095;</button>
    </div>
    <center>
      <div class="dots"></div>
    </center>
    <div class="instructions">
      F for fullscreen • Space/Arrows to navigate • ESC to exit
    </div>

  </div>

</body>
<script lang="javascript" src="{% static 'js/slider.js' %}"></script>
</html>
